/* Styles for product */
.product {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    display: inline-block;
    border-radius: 5px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #0056b3;
}

/* Styles for cart */
.cart {
    float: right;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    border-radius: 5px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.cart img{
    margin:auto;
    max-width:200px;
}